################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Latest Build
/RPG Maker MZ Files/Simple Saga/audio
/RPG Maker MZ Files/Simple Saga/effects
/RPG Maker MZ Files/Simple Saga/fonts
/RPG Maker MZ Files/Simple Saga/icon
/RPG Maker MZ Files/Simple Saga/img/battlebacks1
/RPG Maker MZ Files/Simple Saga/img/battlebacks2
/RPG Maker MZ Files/Simple Saga/img/characters
/RPG Maker MZ Files/Simple Saga/img/enemies
/RPG Maker MZ Files/Simple Saga/img/faces
/RPG Maker MZ Files/Simple Saga/img/parallaxes
/RPG Maker MZ Files/Simple Saga/img/sv_actors
/RPG Maker MZ Files/Simple Saga/img/sv_enemies
/RPG Maker MZ Files/Simple Saga/img/system
/RPG Maker MZ Files/Simple Saga/img/tilesets
/RPG Maker MZ Files/Simple Saga/img/titles1
/RPG Maker MZ Files/Simple Saga/img/titles2
/RPG Maker MZ Files/Simple Saga/js/libs
/RPG Maker MZ Files/Simple Saga/save
/RPG Maker MZ Files/Simple Saga/img/pictures/Actor1_1.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Actor1_2.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Actor1_3.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Actor1_4.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Actor1_5.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Actor1_6.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Actor1_7.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Actor1_8.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Actor2_1.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Actor2_2.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Actor2_3.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Actor2_4.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Actor2_5.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Actor2_6.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Actor2_7.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Actor2_8.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Actor3_1.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Actor3_2.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Actor3_3.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Actor3_4.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Actor3_5.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Actor3_6.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Actor3_7.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Actor3_8.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Evil_1.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Evil_2.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Evil_3.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Evil_4.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Evil_5.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Evil_6.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Evil_7.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Evil_8.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Monster_1.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Monster_2.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Monster_3.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Monster_4.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Monster_5.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Monster_6.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Monster_7.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Monster_8.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Nature_1.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Nature_2.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Nature_3.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Nature_4.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Nature_5.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Nature_6.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Nature_7.png
/RPG Maker MZ Files/Simple Saga/img/pictures/Nature_8.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People1_1.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People1_2.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People1_3.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People1_4.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People1_5.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People1_6.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People1_7.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People1_8.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People2_1.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People2_2.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People2_3.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People2_4.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People2_5.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People2_6.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People2_7.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People2_8.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People3_1.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People3_2.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People3_3.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People3_4.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People3_5.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People3_6.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People3_7.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People3_8.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People4_1.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People4_2.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People4_3.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People4_4.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People4_5.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People4_6.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People4_7.png
/RPG Maker MZ Files/Simple Saga/img/pictures/People4_8.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Actor1_1.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Actor1_2.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Actor1_3.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Actor1_4.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Actor1_5.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Actor1_6.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Actor1_7.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Actor1_8.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Actor2_1.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Actor2_2.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Actor2_3.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Actor2_4.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Actor2_5.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Actor2_6.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Actor2_7.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Actor2_8.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Actor3_1.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Actor3_2.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Actor3_3.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Actor3_4.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Actor3_5.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Actor3_6.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Actor3_7.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Actor3_8.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Monster_1.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Monster_2.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Monster_3.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Monster_4.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Monster_5.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Monster_6.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Monster_7.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_Monster_8.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_People1_1.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_People1_2.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_People1_3.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_People1_4.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_People1_5.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_People1_6.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_People1_7.png
/RPG Maker MZ Files/Simple Saga/img/pictures/SF_People1_8.png
/.vs
